{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
         <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <script src="{% static 'js/bootstrap.js' %} type='text/javascript'"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>Asientos Contables</h1>
            </div>
            <div class="row">
               <div class="container">
                  <h2></h2>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Descripción</th>
                        <th>Debe</th>
                        <th>Haber</th>
                      </tr>
                    </thead>
                    <tbody>
                     {% if asientos %}
                      {% for asientos in asientos %}
                        <tr>
                          <td>{{ asientos.descripcion }}</td>
                          <td>{{asientos.ctadebito}} <br> {{asientos.total}}</td>
                          <td>{{asientos.ctacredito}} <br> {{asientos.total}}</td>
                        </tr>
                     {% endfor %}
                      {% else %}
                          <p>No polls are available.</p>
                     {% endif %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <td>Total:</td>
                        <td>{{total}}</td>
                        <td>{{total}}</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
            </div>
        </div>
    </body>
</html>
